body {
  padding: 3px;
  background-color: none;
}

#NewM {
  color: #B43004;
  font-size: 20px;
  font-family: "Calibri light";
  padding: 10px;
}
#NewM:hover {
  background:  #20a8e8;
}
#inbox{
    color: #20a8e8;
    font-size: 24px;
    font-family: "Calibri light";
    background-color: #c8c8c8 ;
    padding: 10px;
    text-align: center;
}
#inbox:hover {
  background: #B43004;
}

#outbox {
    color: #B43004;
    font-size: 24px;
    font-family: "Calibri light";
    padding: 10px;
}
#outbox:hover {
  background:  #20a8e8;
}

#contact {
    color: #20a8e8;
    font-size: 24px;
    font-family: "Calibri light";
    background-color: #c8c8c8 ;
    padding: 10px;
}
#contact:hover {
  background: #B43004;
}

#t00 {
position:fixed;
width:300px;
top: 200px;
left: 10px;
  background-color: #d8d8d8;
  color: black;
  text-align: center;
  border: solid;
}
#header {
  border: none;
  background-color:white;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 5px;
}

#mail {
  font-family: "Calibri light";
  padding: 10px;
  border: none;
  font-size: 18px;
  position: relative;
  float:right;
  left:10px;
  top: 10px;
  text-align: left;
}
#message {

}
#th1 {
  border-bottom: solid;
}

#th2 {

}
