body {
  background: url(image/background.png);
  padding: 3px;
  background-color: none;
  background-repeat: no-repeat;
  background-size: 100%;
}
#cac {
  position:relative;
  top:-10px;
  color:white;
  font-family: "Calibri light";
  font-size: 40px;

}
#button {
  font-weight: bold;
  color:#b43004;
  background:white;
border: none;
padding:10px;
font-family: "Calibri light";
font-size: 15px;
}
#button:hover{
  background: lightgrey;
}
#form1{
  font-family: "Calibri light";
  font-size: 20px;
    padding: 10px;
    font-weight:bold;
}
#home{

    color: white;
    font-size: 30px;
    font-family: "Calibri light";
    padding: 10px;
    border-bottom: solid white;
  }
#NewM {
  color: white;
  font-size: 24px;
  font-family: "Calibri light";
  padding: 10px;
  border-bottom: solid white;
  border-left: solid white;
  border-right: solid white;
}
#NewM:hover {
  background: white;
  color: black;
}
#inbox:hover {
  background: white;
  color: black;
}
#outbox:hover {
  background: white;
  color: black;
}
#contact:hover {
  background: white;
  color: black;
}
#inbox {
    color: white;
    font-size: 24px;
    font-family: "Calibri light";
    padding: 10px;
    border-bottom: solid white;
    border-left: solid white;
    border-right: solid white;
}

#outbox {
    color: white;
    font-size: 24px;
    font-family: "Calibri light";
    padding: 10px;
    border-bottom: solid white;
    border-left: solid white;
    border-right: solid white;
}

#contact {
    color: white;
    font-size: 24px;
    font-family: "Calibri light";
    border-bottom: solid white;
    border-left: solid white;
      border-right: solid white;
    padding: 10px;

}

#t00 {
position:fixed;
width:18%;
top: 220px;

  background-color:none;
  color: black;
  text-align: center;
  border: none;

}
#contactList {
  font-family: "Calibri light";
  border: none;
  border-spacing: 0px;
  font-size: 18px;
  text-align: left;
  width:100%;
}
#header {
  border: none;
  color: black;
  text-align: center;
  position: fixed;
  top:0px;
  left:43%;

}
#th1 {
padding: 7px;
border-style: groove;
border-width: thin;

}
#mail {
  font-family: "Calibri light";
  padding: 10px;
  border: none;
  border-spacing: 0px;
  font-size: 18px;
  position: relative;
  float:center;
  left:315px;
  top: 195px;
  width:74.6%;
  text-align: left;
}
#message {

}
#date{

}
#msg{
}
