body {
  background: url(image/background.png);
  padding: 3px;
  background-color: none;
  background-repeat: no-repeat;
  background-size: 1810px;
  font-family: "Calibri light";
  font-weight: bold;
<<<<<<< HEAD
  overflow: hidden;
=======
  
>>>>>>> origin/master
}
/*GO!MAIL*/
#cac {
  position:relative;
  top:-10px;
  color:white;
  font-family: "Calibri light";
  font-size: 40px;
}
/*Button du site*/
#button {
  font-weight: bold;
  color:#b43004;
  background:white;
  border: none;
  padding:10px;
  font-family: "Calibri light";
  font-size: 15px;
}
#button:hover{
  background: lightgrey;
}
#form1{
  font-family: "Calibri light";
  font-size: 20px;
  padding: 10px;
  font-weight:bold;
}
/*table du Menu*/
#NewM:hover {
  background: white;
  color: black;
}
#inbox:hover {
  background: white;
  color: black;
}
#outbox:hover {
  background: white;
  color: black;
}
#contact:hover {
  background: white;
  color: black;
}
/*table du Menu*/
#home{
    position: fixed;
    top: 225px;
    color: white;
    font-size: 30px;
    font-family: "Calibri light";
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 10px;
    padding-top:10px;
    border-bottom: solid white;
  }
  /*nouveau message*/
#NewM {
  position: fixed;
  top: 285px;
  color: white;
  font-size: 24px;
  font-family: "Calibri light";
  padding-left: 59px;
  padding-right: 59px;
  padding-bottom: 10px;
  padding-top:10px;
  border-bottom: solid white;
  border-left: solid white;
  border-right: solid white;
}
#inbox {
  top: 335px;
  position: fixed;
  color: white;
  font-size: 24px;
  font-family: "Calibri light";
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 10px;
  padding-top:10px;
  border-bottom: solid white;
  border-left: solid white;
  border-right: solid white;
}
#outbox {
  position: fixed;
  top: 385px;
  color: white;
  font-size: 24px;
  font-family: "Calibri light";
  padding-left: 111px;
  padding-right: 111px;
  padding-bottom: 10px;
  padding-top:10px;
  border-bottom: solid white;
  border-left: solid white;
  border-right: solid white;
}
#contact {
  position: fixed;
  top: 435px;
  color: white;
  font-size: 24px;
  font-family: "Calibri light";
  padding-left: 109px;
  padding-right: 109px;
  padding-bottom: 10px;
  padding-top:10px;
  border-bottom: solid white;
  border-left: solid white;
  border-right: solid white;

}
#t00 {
  position:fixed;
  width:18%;
  top: 220px;
  background-color:none;
  color: black;
  text-align: center;
  border: none;
}
/*contient le logo du site*/
#header {
  border: none;
  color: black;
  text-align: center;
  position: fixed;
  top:0px;
  left:43%;
}
/*table qui apparait avec le javaScript*/
#mail {
  font-family: "Calibri light";
  padding: 10px;
  border: none;
  border-spacing: 0px;
  font-size: 18px;
  position: relative;
  float:center;
  left:315px;
  top: 195px;
  width:74.6%;
  text-align: left;
}
#th1 {
  padding: 7px;
  border-style: groove;
  border-width: thin;
}
#contactList {
  font-family: "Calibri light";
  border: none;
  border-spacing: 0px;
  font-size: 18px;
  text-align: left;
  width:100%;
}
/*Bas de la page (contact us)*/
#cancer{
  position : fixed;
  top: 915px;
  left: 1460px;
}
#c1{
  position : fixed;
  top: 890px;
  left: 312px;
  width: 100%;
}
#c2{
  position : fixed;
  top: 915px;
  left: 312px;
}
/* sign in and sign up */
#sig{
  position:absolute;
  color: white;
  left: 1510px;
  top: 14px;
  background-color: black;
}
#sig:hover{
  background-color: white;
  color: black;
}
#s1{
  position : fixed;
  color: white;
  left: 1588px;
  top: 14px;
  background-color: black;
}
#sup{
  position : fixed;
  color: white;
  left: 1600px;
  top: 14px;
  background-color: black;
}
#sup:hover{
  background-color: white;
  color: black;
}
/*Javascript connextion et inscription*/
#coxIns{
  text-align: center;
  font-size: 25px;
}
#adrr{
  text-align: center;
}
#pass{
  text-align: center;
}
#bu{
  text-align: center;
}
#button2{
  font-weight: bold;
  color: white;
  background: #003366;
  border: solid;
  padding:10px;
  font-family: "Calibri light";
  font-size: 15px;
}
#button2:hover{
  background: lightgrey;
}
