body{
  text-align: center;
  font-family: "Calibri light";
  font-weight: bold;
  overflow: hidden;
  background: ;
  background-color: none;
  background-repeat: no-repeat;
  background: url(Image/backgroundOpening.jpg);
  background-size: cover;
}
#Connexion {
  border: none;
  border-spacing: 0px;
  font-size: 18px;
  position: absolute;
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 35%;
  bottom:auto;
}
#coxIns{
  text-align: center;
  font-size: 40px;
}
#adrr{
  text-align: center;
}
#pass{
  text-align: center;
}
#bu{
  text-align: center;
}
#button2{
  font-weight: bold;
  color: white;
  background: #003366;
  border: solid;
  padding:10px;
  font-family: "Calibri light";
  font-size: 25px;
}
#button2:hover{
  background: lightgrey;
}
#header {
  border: none;
  color: black;
  text-align: center;
  position: fixed;
  top:0px;
  left:39%;
}
#PassWord{
  height: 20px;
}
#AccountName{
  height: 20px;
}
